<h1>About the NELP program</h1>
<p>
  NELP is a University of Michigan academic program that takes place off campus 
  during the Spring half term. UM faculty and other instructors teach the courses, 
  and students earn nine regular UM credits in upper-level English classes. The program 
  takes place at Camp Kabeyun on Lake Winnipesaukee in New Hampshire. For six and a 
  half weeks, 40 students and 13 UM instructors live and work together closely, reading 
  New England authors, writing, and exploring the New England countryside, its people, 
  culture, and history. <%= link_to '...more', 'https://lsa.umich.edu/nelp/prospective-students/about-us.html' %>
</p>
<p>
  This portal is for applicants to submit their payments.
</p>
